nav {
    display: flex;
    height: 50px;
}
h1 {
    font-weight: 900;
    font-size: 1.7rem;
    color: var(--main-green)
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

li {
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul p {
    color: var(--main-gray);
    cursor: pointer;
    font-size: .8rem;
    transition: .5s;
}

ul p:hover {
    color: var(--main-green);
}