.recommended-section {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-evenly;
}

.jewelery-container {
    display: flex;
    justify-content: space-between;
}

.recommended-section-title {
    text-align: start;
    color: var(--main-green);
}